{% extends "app/login-base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="field">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username">
    </div>
    <div class="field">
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">
    </div>
    <div class="field">
        <input type="submit" value="Log in" class="btn">
    </div>
    <div class="field">
        Don't have an account yet? Sign up <a href="{{ "/register/" }}">here</a>
    </div>
    <div class="field">
        <span>{{ message }}</span>
    </div>
</form> 
{% endblock %}