{% extends "app/home.html" %}
{% block content %}

{% for post in posts %}
<div class="post">
    <div class="info">
        <div class="author">
            <a href={% url 'user_info' username=post.author.username %}>@{{ post.author }}</a>
        </div>
        <div class="date">
            {{ post.date }}
        </div>
    </div>
    <div class="post-content">
        <div class="title">
            {{ post.title }}
        </div>
        <div class="post-body">
            {{ post.body }}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}